<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
      <variable name="appName" value="RosKomCheck" />
  <variable name="layout" value="[${counter}] [${date:format=dd.MM.yyyy\ HH\:mm\:ss}] [${uppercase:${level}}] ${message} ${exception:format=ToString}" />

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File" name="file" fileName="${currentdir}\log.txt"
            layout="${layout}"
            archiveFileName="${currentdir}\log.{#####}.txt"
            archiveAboveSize="512000"
            archiveNumbering="Sequence"
            keepFileOpen="false"
            footer="----------------------------" 
            header="" 
            autoFlush="true"
            />
    <target name="console" xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="true"
            layout="${layout}"
    />
    <target xsi:type="EventLog" name="event"
        layout="${message}${newline}${exception:format=ToString}"
            source="${appName}"
            />
    
    <target xsi:type="BufferingWrapper" name="mail" >
        <target xsi:type="Mail"
              smtpServer="smtp.gmail.com"
              smtpPort="587"
              smtpAuthentication="Basic"
              smtpUserName="логин"
              smtpPassword="пароль"
              enableSsl="true"
              from="от"
              to="кому"
              subject="Ошибка ${appName} на ${machinename}"
              addNewLines="true" 
              layout="${layout}"
          />
      </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Warn" writeTo="mail" />
    <logger name="*" minlevel="Error" writeTo="event" />
  </rules>
</nlog>
